<div style="border:1px solid black;font-weight:bold;background-color:lightgrey" align="center">
[% IF no_controls %]
    [% title %]
[% ELSE %]
    <a href="/home">Home</a> | [% title %] | <a href="/reports/[% name %]/email[% params.date ? "?date=" _ params.date : '' %]">Email Report</a>
[% END %]
</div>
