<div class="ui-widget">
    <div class="ui-widget-header" style="text-align:center;font-size: smaller">
            [% settings.appname %] &copy; Craig N. Caroon 2005-[% Date.format(date.now, "%Y")%]
            (Powered by <a href="http://perldancer.org">Dancer2</a> v[% dancer_version %])
    </div>
</div>
