<div class="pure-menu pure-menu-open">
    <ul>
        <li><a href="/entries/new">New Entry</a></li>
        <li><a href="/todos/new">New Todo</a></li>
        <li><a href="/notes/new">New Note</a></li>
    </ul>
</div>
<p>
<form class="pure-form" name="tag_search" action="/tagged_objects" method="get">
    &nbsp;<a href="/tags"><i class="fa fa-tag"></i></a>
    <input type="text" name="tag" id="tag_input" class="pure-input-rounded" value="" size="7" autocomplete="off">
</form>
