[%-
    # Params:
        # label
        # id
        # name
-%]
<label for="[% id %]">[% label %]</label>
<button id="[% id %]" type="button" style="padding: 3px 3px 0px 3px;"></button>
<input type="hidden" id="[% id %]_value" name="[% name %]" value="">
