[%- IF is_tooltip -%]
    [%- text = '' -%]
    [%- FOREACH tag IN tags -%]
        [%- IF loop.last -%]
            [%- text = text _ tag.name -%]
        [%- ELSE -%]
            [%- text = text _ tag.name _ ', ' -%]
        [%- END -%]
    [%- END -%]
    [%- text -%]
[%- ELSE -%]
    [% FOREACH tag IN tags %]
    [% '&#8680;' IF loop.first %]
    <span style="border:1px dotted black">[% tag.name %]</span>
    [% END %]
[%- END -%]
