<div class="ui-widget">
    <div class="ui-widget-header">
        <i class="fa fa-alert"></i>
        [% title ? title : vars.controller _ " Error" %]
    </div>
    <div class="ui-widget-content ui-state-error">
        <p>[% message %]</p>
    </div>
    <p><a id="error-back-button" href="[% request.referer %]"><i class="fa fa-arrow-left"></i></a></p>
</div>
<script>
    $('#error-back-button').button();
</script>