.ui-widget {margin: 2px 2px 2px 2px}
.ui-widget a { text-decoration:none }
.ui-widget a:hover { text-decoration:underline }
.m-not-bold { font-weight: normal !important }
.m-pagination { text-decoration: none; padding: 0 2 0 2 }
.m-bold { font-weight: bolder !important}
.m-strikethru { text-decoration: line-through !important}

.m-side-menu-button { margin: 1px 2px 2px 2px; width: 95% }

.markdown a {
    border-bottom: dotted 1px grey
}

.markdown a:hover {
    color: grey;
    text-decoration: none;
}

.tag_cloud {
    border: dashed 1px lightgrey
}
