a:link { text-decoration: none; }
a:hover {text-decoration: underline;}

body {
    font-size: 12px;
}

.pure-form-aligned .pure-control-group .ui-buttonset label {
    width: inherit;
    margin: 0px -3px 0px -3px;
}

.m-container {
    padding-top: 5px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 5px;
}

.m-pagination { text-decoration: none; padding: 0px 5px 0px 5px }
.m-bold { font-weight: bolder !important}
.m-strikethru { text-decoration: line-through !important}

.markdown a {
    border-bottom: dotted 1px grey
}

.markdown a:hover {
    color: grey;
    text-decoration: none;
}

.tag_cloud {
    border: dashed 1px lightgrey
}

/*CodeMirror Overrides*/
.CodeMirror {
    font-size: 12px;
    border: 1px solid #eee;
    width: 50em;
}

.CodeMirror pre { padding-left: 5px; line-height: 1.25; }

#layout_footer {
    width: 100%;
    position: fixed;
    left: 0px;
    bottom: 2px;
}

#home_countdowns {
    width: 100%;
    position: fixed;
    left: 0px;
    bottom: 23px;
}
