
.sticky_notes ul,li {
  list-style:none;
}

.sticky_notes ul {
  overflow:hidden;
  padding:3em;
}

.sticky_notes ul li {
  margin:1em;
  float:left;
}

.sticky_notes ul li h2 {
  font-size:140%;
  font-weight:bold;
  padding-bottom:10px;
}

.sticky_notes ul li div {
  text-decoration:none;
  color:#000;
  background:#FFBBBB;
  display:block;
  height:15em;
  width:15em;
  padding:.2em;
  /* Firefox */
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  /* Safari+Chrome */
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  /* Opera */
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  -webkit-transform:rotate(-6deg);
  -o-transform:rotate(-6deg);
  -moz-transform:rotate(-6deg);
}

.sticky_notes ul li:nth-child(even) div {
  -o-transform:rotate(4deg);
  -webkit-transform:rotate(4deg);
  -moz-transform:rotate(4deg);
  position:relative;
  top:5px;
  background:#FF8888;
}

.sticky_notes ul li:nth-child(3n) div {
  -o-transform:rotate(-3deg);
  -webkit-transform:rotate(-3deg);
  -moz-transform:rotate(-3deg);
  position:relative;
  top:-5px;
  background:#FFFFFF;
}

.sticky_notes ul li:nth-child(5n) div {
  -o-transform:rotate(5deg);
  -webkit-transform:rotate(5deg);
  -moz-transform:rotate(5deg);
  position:relative;
  top:-10px;
}
