<div class="ui-widget">
    <div class="ui-widget-header" align="center">Tag Search: [% tag_name %]</div>
    <div style="float:left;width:70%">[% PROCESS home/entries.tt header="Entries"%]</div>
    
    <div style="float:left; width:30%">
        
        [% PROCESS home/todos.tt %]
        
        [% PROCESS home/notes.tt notes=note title="Notes" %]

    </div>

</div>
