<div class="ui-widget">
    <div class="ui-widget-header">Lists</div>
    <div class="ui-widget-content">
        <table width="100%" class="ui-widget-content">
        [% FOREACH list IN lists %]
            <tr class="[% cycle('ui-state-default m-not-bold','NONE') %]">
                <td>
                    <a href="/lists/[% list.id %]">[% list.name %]</a>
                </td>
            </tr>
        [% END %]
        </table>
    </div>
</div>
