<div class="ui-widget">
    <div class="ui-widget-header">Lists</div>
    <div class="ui-widget-content">
        <table width="100%" class="pure-table pure-table-striped">
        [% FOREACH list IN lists %]
            <tr>
                <td>
                    <a href="/lists/[% list.id %]" title="[% PROCESS shared/tags/list.tt tags=list.tags is_tooltip=1 %]">[% list.name %]</a>
                </td>
            </tr>
        [% END %]
        </table>
    </div>
</div>
