<table class="list" width="100%">
    [% FOREACH goal IN goals %]
        <tr class="[% cycle('row_even','row_odd') %]">
            <td align="center">[% goal.priority %]</td>
            <td><a href="/goals/[% goal.id %]">[% goal.name %]</a></td>
            <td align="center">[% goal.percent_complete _ '%' %]</td>
        </tr>
    [% END %]
</table>
