use Test::More tests => 2;
use strict;

use lib "$ENV{METIISTO_HOME}/lib";

# *MUST* come before 'use Dancer::*' so that Dancer gets the correct environment
BEGIN
{
    $ENV{METIISTO_ENV} = 'test';
    $ENV{DANCER_ENVIRONMENT} = $ENV{METIISTO_ENV};
}

# the order is important
use metiisto;
use Dancer::Test;

route_exists [GET => '/'], 'a route handler is defined for /';
response_status_is ['GET' => '/'], 200, 'response status is 200 for /';
